@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

/****************************** CSS RESET ******************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e2e2e9;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/****************************** Global Fonts ******************************/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
