@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
