/****************************** Recipe CSS Component ******************************/

.recipe {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
    position: relative;
    cursor: pointer; /* Přidejte kurzor pointer pro indikaci, že karta je interaktivní */
}

.recipeTitle {
    font-size: 1.3rem;
    color: #bd9d3d !important;
}

.recipeBodySmall {
    overflow: hidden;
    max-height: 200px;
}

.recipeBodyLarge {
    max-height: fit-content;
}

.recipeDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    white-space: nowrap;
}

.recipeText {
    text-align: justify;
    color: #302E4D !important;
}

.recipe:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    filter: brightness(1.1);
}

/* Buttons */

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    transform: translateX(100%);
    transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    overflow: hidden;
}

.recipe:hover .buttons {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
}

.viewRecipeButton {
    background-color: #bd9d3d !important;
    border: 1px solid #bd9d3d !important;
}

.viewRecipeButton .viewIcon {
    background-color: #bd9d3d;
}

.editRecipeButton {
    background-color: #198754;
    border-color: #198754;
    color: white;
}

.editRecipeButton .editIcon {
    background-color: #198754;
}

.deleteRecipeButton {
    background-color: #D11A2A;
    border-color: #D11A2A;
    color: white;
}

.deleteRecipeButton .deleteIcon {
    background-color: #D11A2A;
}

.viewRecipeButton:hover {
    background-color: white !important;
    color: #bd9d3d !important;
    border: 1px solid #bd9d3d !important;
}

.viewRecipeButton:hover .viewIcon {
    background-color: white !important;
    color: #bd9d3d !important;
}

.editRecipeButton:hover {
    background-color: white;
    color: #198754;
}

.editRecipeButton:hover .editIcon {
    background-color: white;
    color: #198754;
}

.deleteRecipeButton:hover {
    background-color: white;
    color: #D11A2A;
}

.deleteRecipeButton:hover .deleteIcon {
    background-color: white;
    color: #D11A2A;
}