/****************************** Recipe CSS Component ******************************/

.recipe {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}

.recipeTitle {
    font-size: 1.6rem;
    color: #bd9d3d !important;
}

.recipeBodySmall {
    overflow: hidden;
    max-height: 200px;
}

.recipeBodyLarge {
    max-height: fit-content;
}

.recipeDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    white-space: nowrap;
}

.recipeText {
    text-align: justify;
    color: #302E4D !important;
}

.recipeButton {
    background-color: #bd9d3d !important;
    border: 1px solid #bd9d3d !important;
    transition: 0.3s;
}

.recipeButton:hover {
    background-color: white !important;
    color: #bd9d3d !important;
    border: 1px solid #bd9d3d !important;
}

.recipe:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    filter: brightness(1.1);
}