/****************************** RecipeInfo CSS Component ******************************/

.recipeHeader {
    text-align: center;
    color: #bd9d3d;
    font-weight: 600;
}

.headerImg {
    transition: transform 0.8s;
    margin-left: 20px;
}

.headerImg:hover {
    transform: rotate(360deg);
}

/****************************** list of recipes header CSS Component ******************************/

.listOfRecipesHeader {
    font-size: 2rem !important;
    color: #bd9d3d !important;
    font-weight: 600 !important;
}

/****************************** list of recipes button CSS Component ******************************/

.listOfRecipesButton {
    background-color: #bd9d3d !important;
    border: 1px solid #bd9d3d !important;
    color: white !important;
}

.listOfRecipesButton .icon {
  background-color: #bd9d3d;
}

.listOfRecipesButton:hover {
  background-color: white !important;
  color: #bd9d3d !important;
  border: 1px solid #bd9d3d !important;
}

.listOfRecipesButton:hover .icon {
    background-color: white !important;
    color: #bd9d3d !important;
}

.glassButton:hover .icon {
  background-color: #198754;
}

/****************************** loading and error message button CSS Component ******************************/

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error {
    background-color: lightpink;
    padding: 32px;
  }  