/****************************** RecipeInfo CSS Component ******************************/

.recipeHeader {
    text-align: center;
    color: #bd9d3d;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}

.headerImg {
    transition: transform 0.8s;
    margin-left: 20px;
}

.headerImg:hover {
    transform: rotate(360deg);
}

/****************************** list of recipes header CSS Component ******************************/

.listOfRecipesHeader {
    font-size: 2rem !important;
    color: #bd9d3d !important;
    font-weight: 600 !important;
}

/****************************** list of recipes button CSS Component ******************************/

.listOfRecipesButton {
    background-color: #bd9d3d !important;
    border: 1px solid #bd9d3d !important;
    color: white !important;
}

.listOfRecipesButton .icon {
  background-color: #bd9d3d;
}

.listOfRecipesButton:hover {
  background-color: white !important;
  color: #bd9d3d !important;
  border: 1px solid #bd9d3d !important;
}

.listOfRecipesButton:hover .icon {
    background-color: white !important;
    color: #bd9d3d !important;
}

.glassButton:hover .icon {
  background-color: #198754;
}

/****************************** loading and error message button CSS Component ******************************/

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error {
    background-color: lightpink;
    padding: 32px;
  }  

/****************************** div CSS Component ******************************/

.form {
  display: flex;
  flex-direction: row;
}

.divForm {
  display: flex;
  flex-direction: row;
}

.formControl {
  max-width: 150px;
}

@media (max-width: 1150px) {
  .listOfRecipesHeader {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 750px) {

  .recipeHeader {
    font-size: 1.8rem;
  }

  .headerImg {
    width: 50px;
  }
  
  .form {
    justify-content: center;
  }

  .formControl {
    max-width: 100%;
  }

  .divForm {
    margin-top: 10px;
  }

  .recipeHeader {  
    margin-bottom: 8px;
  }
}